<div id="about">
    <div id="about-left">
        <div class="about-section">
            <h2>About this website</h2>
            <p>
                Welcome to <a href="http://JuniorDoctorsStrike.co.uk">http://JuniorDoctorsStrike.co.uk</a>. My name is <a href="http://dusted.codes/about">Dustin</a> and I am the creator of this website. I am not a junior doctor, I don't work for the NHS and I am not politically related to this debate in any way. I am just a plain software developer who cares about the NHS and has a huge respect for all the people who are involved in running the service.
            </p>

            <p>Public healthcare is a precious gift and it is an environment unlike anything else. It is an institution which is run by people for people. It is not lucrative, it is very demanding, stressful and exhausting. There is no reason to work in public healthcare other than the joy of helping other people. The new contract is not only unfair to junior doctors, but also poses a risk to patient care - affecting people like you and I.</p>

            <p>We need to support our junior doctors now!</p>

            <p>
                They look after us 24/7 365/year and now we need to look after them and show our support.
            </p>
            <p>This and many other reasons motivated me to create <a href="http://JuniorDoctorsStrike.co.uk">http://JuniorDoctorsStrike.co.uk</a>.</p>
        </div>
        <div class="about-section">
            <h2>How it works</h2>

            <p>This website collects tweets and messages from various social media platforms and displays them in one unified stream. It allows junior doctors and other spectators to follow the movement in one centralised place.</p>

            <p>
                Tweet about the junior doctor strike with hashtag <strong>#JuniorDoctorsStrike</strong> and make it public!
            </p>

            <p>Retweets and replies are excluded.</p>

            <p>Integrations with Instagram and Facebook are coming soon!</p>

        </div>
    </div>
    <div id="about-right">
        <div class="about-section">
            <h2>Learn more about the debate</h2>

            <p>If you would like to learn more about the new contract here are a few articles which give a good summary:</p>

            <ul>
                <li><a href="http://www.theguardian.com/society/2015/sep/29/junior-doctors-contract-row-nhs-explainer-health">Junior doctors contract row: an explainer</a></li>
                <li><a href="http://www.bbc.co.uk/news/health-34775980">Junior doctors row: The dispute explained</a></li>
            </ul>

            <iframe src="https://www.youtube.com/embed/ii17KlUV1kw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="about-section">
            <h2>How can I get involved?</h2>

            <p>
                This is dead simple. Any support is a great support! Get involved yourself by tweeting or messaging about the strike with hashtag <strong>#JuniorDoctorsStrike</strong> and your message will automatically be added to the ongoing debate on this website.
            </p>

            <p>
                <a href="https://github.com/dustinmoris/JuniorDoctorsStrike">This project is open source</a> and any help or ideas to improve the service are more than welcome. Please feel free to <a href="mailto: dustinmoris@gmail.com">get in touch with me</a>. Another great way to support the movement is to share this website with your friends and family. Tell them about the debate and why it matters to everyone!
            </p>
        </div>
    </div>
</div>