
<div>
    <h2>About</h2>

    <p>Welcome to @Html.ActionLink("#JuniorDoctorsStrike", "Index", "Home")</p>. My name is <a href="http://dusted.codes/">Dustin</a>, the creator of this service and no, I am not a junior doctor myself. I am not a medic at all and to be honest I would never want to work for the NHS, certainly not at these times. But I have a huge respect for the people who do work for the NHS. Public healthcare is not lucrative, it is very demanding, stressful and nowadays not even grateful anymore. Whoever decides 

    <h3>About this website</h3>


    <h3></h3>

    <p>Coming soon.</p>
</div>