@section BeforeEndOfHead
{
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="~/Assets/site.js?v=1"></script>
}

<section id="messages">
    <div id="pinned">
        <div class="message">
            <p>Pinned</p>
            <iframe src="https://www.youtube.com/embed/4IoPlASsGKQ" frameborder="0" allowfullscreen></iframe>
            <div>
                <ul>
                    <li><a href="http://www.theguardian.com/society/2015/sep/29/junior-doctors-contract-row-nhs-explainer-health">Junior doctors contract row: an explainer</a></li>
                    <li><a href="http://www.bbc.co.uk/news/health-34775980">Junior doctors row: The dispute explained</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <a id="show-new-btn" href="#">Show new messages</a>
    </div>
    <div id="message-stream">
    </div>
    <div>
        <a id="load-more-btn" href="#">Load more</a>
    </div>
</section>
<aside id="messages-aside">
    <div>
        <h2>About</h2>
        <p>
            <strong>#JuniorDoctorsStrike</strong> collects messages from various social media platforms such as Twitter, Instagram or Facebook and displays them in one centralised place to give junior doctors a public stage and support to fight against an usafe contract and unsafe NHS conditions.
        </p>
        <p>Follow the movement here from anywhere in the UK!</p>
        <p>
            Read more @Html.ActionLink("about this website", "About", "Home").
        </p>
    </div>
    <div>
        <h2>How it works</h2>
        <p>
            Tweet about the junior doctor strike with hashtag <a href="https://twitter.com/search?q=%23JuniorDoctorsStrike">#JuniorDoctorsStrike</a> and make it public! Retweets and replies are excluded.
        </p>
        <p>Integrations with Instagram and Facebook are coming soon!</p>
    </div>
</aside>
