@section BeforeEndOfHead
{
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="~/Assets/site.js"></script>
}

<section id="messages">
</section>
<aside id="messages-aside">
    <div>
        <h2>About</h2>
        <p>
            <strong>#JuniorDoctorsStrike</strong> collects messages from various social media platforms such as Twitter, Instagram or Facebook and displays them in one centralised place to give junior doctors a public stage and support to fight against an usafe contract and unsafe NHS conditions.
        </p>
        <p>Follow the movement here from anywhere in the UK!</p>
        <p>
            Read more @Html.ActionLink("about this website", "About", "Home").
        </p>
    </div>
    <div>
        <h2>How it works</h2>
        <p>
            Tweet about the junior doctor strike with hashtag <a href="https://twitter.com/search?q=%23JuniorDoctorsStrike">#JuniorDoctorsStrike</a> and make it public! Retweets and replies are excluded.
        </p>
        <p>Integrations with Instagram and Facebook are coming soon!</p>
    </div>
</aside>
