body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
}

header {
    margin: 0;
    padding: 1em 0.5em 0 0.5em;
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    color: #333;
}

#inner-header {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#logo {
    margin: 3px 15px 0 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: 600;
    color: #38ACEC;
}

header h2 {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

header nav {
    flex-grow: 1;
}

    header nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        header nav ul li {
            flex-grow: 1;
            text-align: center;
        }

            header nav ul li a {
                display: block;
                border: 1px solid #e1e1e1;
                margin: 1em .5em;
                padding: .5em;
                -ms-border-radius: 3px;
                border-radius: 3px;
                background: #f8f8f8;
            }

a {
    color: #8C001A;
    text-decoration: none;
}

.tweet {
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 7px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    background: #fff;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.user-picture {
    margin: 0;
    padding: 0;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

.tweet-header {
    display: inline-block;
    margin: .3em 0 0 10px;
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
}

.user-name {
    font-weight: 600;
}

.tweet-info {
    margin-top: .2em;
    display: block;
    font-size: .8em;
    color: #888;
}

.tweet-message {
    flex-basis: 100%;
    margin-top: 1em;
    font-size: .95em;
    line-height: 1.4em;
}

#tweets-aside div {
    margin: 7px;
    padding: 1em;
    border: 1px solid #e1e1e1;
    background: #fff;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#tweets-aside h2 {
    color: #777;
}

#tweets-aside h2,
#tweets-aside h3 {
    margin-top: 0;
}

#tweets-aside p {
    line-height: 1.5em;
    font-size: .9em;
}

footer {
    margin: 10px;
    padding: 0;
    color: #888;
    font-size: .8em;
}

@media all and (min-width: 917px) {

    main,
    #inner-header,
    #inner-footer {
        margin: 0 auto;
        padding: 0;
        max-width: 900px;
    }

    main {
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    header {
        padding-bottom: 1em;
    }

    #logo {
        margin: 0 20px 0 0;
        padding: 0;
        width: 50px;
        height: 50px;
    }

    header h1 {
        font-size: 1.8em;
        font-weight: 600;
        color: #38ACEC;
        margin-right: 20px;
    }

    header h2 {
        margin: .3em 0 0 0;
        padding: 0;
        font-size: 1em;
    }

    header nav ul {
        align-items: flex-start;
    }

    header nav ul li {
        flex-grow: 0;
    }

    header nav ul li a {
        display: inline-block;
        border: 0;
        background: #fff;
        color: #666;
    }

    header nav ul li a:hover {
        color: #8C001A;
        padding: .5em 0 .1em 0;
        margin-left: 1em;
        margin-right: 1em;
        border-bottom: 3px solid #8C001A;
        -ms-border-radius: 0;
        border-radius: 0;
    }

    #tweets {
        margin-top: 15px;
        max-width: 600px;
    }

    #tweets-aside {
        margin: 15px 0 0 15px;
        max-width: 285px;
        color: #333;
    }

        #tweets-aside div {
            margin: 0 0 15px 0;
        }

    .tweet {
        display: block;
        margin: 0;
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-bottom: 0;
    }

        .tweet:first-child {
            -ms-border-top-left-radius: 2px;
            border-top-left-radius: 2px;
            -ms-border-top-right-radius: 2px;
            border-top-right-radius: 2px;
        }

        .tweet:last-child {
            -ms-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
            -ms-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 1px solid #e1e1e1;
        }

        .user-picture, .tweet-header {
            float: left;
        }

        .tweet-message {
            float: left;
            width: 520px;
            margin-top: .5em;
            margin-left: 10px;
        }

        .tweet:after {
            visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
        }

    .tweet-info {
        display: inline;
    }

        .tweet-info:before {
            content: " - ";
        }

    footer {
        margin: 1.5em 0 2em 0;
    }
}
